<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="../static/js/jQuery.js"></script>

    <link rel="stylesheet" href="../static/css/Button.e5a3e.css">
    <link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/images/ue_grid.css" />

<link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/images/style.css" />

<link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/css/style.css" />


<script language="javascript" src="../static/script/jquery.easing.min.js"></script>

<script language="javascript" src="../static/script/custom.js"></script>



</head>
<body style="background-color: #f5f5f5;">
<div class="header">
    <div class="top-head box-center cf">
        <div class="box-cente">



            <div class="search-wrap">
                <!--<form class="cf" id="formUrl" action="//www.readnovel.com/search" method="get" target="_blank">-->
                    <!--<input class="search-box" id="s-box" name="kw" type="text" placeholder="婚途有坑：爹地，快离婚" autocomplete="off" value="">-->
                    <!--<input class="submit-input" type="submit" id="searchSubmit" data-eid="">-->
                    <!--<label id="search-btn" class="search-btn" for="searchSubmit"><em class="iconfont">-->
                    <!--</em></label></form>-->
            </div>
            <div class="user-wrap"><div class="avatar" id="j-userWrap">
                <a class="link" href="javascript:" id="j-avatar">
                    <img class="openlogin" src="../static/imgs/account.1e031.png">
                </a><div class="down-drop" id="j-userDownDrop">
                <dl><dd><a href="javascript:" id="sign-out">退出</a>
                </dd></dl></div></div><ul>

                <li><a class="head-shelf" href="javascript:"><em class="iconfont"></em>我的书架</a></li>
            </ul></div>

        </div>
    </div>
    <div class="top-nav-wrap box-center cf">
       <div class="left-nav fl"><ul class="cf">
          <li> <a href="/all.html"><em class="iconfont">
          </em>全部分类</a></li>
           <li class=""><a href="index.html">首页</a></li>
           </li><li class=""><a href="rank.html">排行榜</a></li>
           <li class=""><a href="free.html">免费</a></li>
           </ul>
       </div><div class="right-nav fr">
       <a class="j-goCharge" href="javascript:" target="_blank"><em class="iconfont">
       </em>充值</a><a href="/authon/index.html" target="_blank"><em class="iconfont"></em>作家专区</a></div></div>
</div>
<div class="free-container box-center">

        <div id="free-channel-wrap">
            <div class="free-work">
                <div class="all-pro-wrap box-center cf">
                    <div class="range-sidebar fl">
    <div class="inner-wrap">

        <div class="site">

            <a class="" href="/all.html">女生</a><a class="act" href="allw.html">男生</a>
        </div>

        <div class="selected">

            <p><span>已选</span>



        </p></div>
        <div class="select-list">

            <div class="work-filter type-filter">

                <h3>分类</h3>
                <ul type="category">

                    <li data-id="-1" class="act"><a>全部<cite><i></i></cite></a></li>

                    <li data-id="20001" class=""><a>玄幻<cite><i></i></cite></a></li>

                    <li data-id="20005" class=""><a >奇幻<cite><i></i></cite></a></li>

                    <li data-id="20010" class=""><a >武侠<cite><i></i></cite></a></li>

                    <li data-id="20014" class=""><a ><i></i></cite></a></li>

                    <li data-id="20019" class=""><a >都市<cite><i></i></cite></a></li>

                    <li data-id="20065" class=""><a >现实<cite><i></i></cite></a></li>

                    <li data-id="20032" class=""><a >军事<cite><i></i></cite></a></li>

                    <li data-id="20028" class=""><a>历史<cite><i></i></cite></a></li>

                    <li data-id="20050" class=""><a >游戏<cite><i></i></cite></a></li>

                    <li data-id="20054" class=""><a >体育<cite><i></i></cite></a></li>

                    <li data-id="20042" class=""><a >科幻<cite><i></i></cite></a></li>

                    <li data-id="20037" class=""><a>灵异<cite><i></i></cite></a></li>

                    <li data-id="20059" class=""><a>二次元<cite><i></i></cite></a></li>

                    <li data-id="20076" class=""><a>短篇<cite><i></i></cite></a></li>

                </ul>
            </div>
            <div class="work-filter">

                <h3>字数</h3>
                <ul type="size">

                    <li data-id="-1" class="act"><a >全部</a></li>

                    <li data-id="6" class=""><a>30万以下</a></li>

                    <li data-id="2" class=""><a>30~50万</a></li>

                    <li data-id="3" class=""><a>50~100万</a></li>

                    <li data-id="4" class=""><a>100~200万</a></li>

                    <li data-id="5" class=""><a>200万以上</a></li>

                </ul>
            </div>
            <div class="work-filter action-filter">

                <h3>状态</h3>
                <ul type="action">

                    <li data-id="全部" class="act"><a >全部</a></li>

                    <li data-id="连载" class=""><a >连载</a></li>

                    <li data-id="完本" class=""><a >完本</a></li>

                </ul>
            </div>
            <div class="work-filter">

                <h3>更新时间</h3>
                <ul type="update">

                    <li data-id="-1" class="act"><a >全部</a></li>

                    <li data-id="1" class=""><a >三日内</a></li>

                    <li data-id="2" class=""><a >七日内</a></li>

                    <li data-id="6" class=""><a >半月内</a></li>

                    <li data-id="3" class=""><a >一月内</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
                    <div class="main-content-wrap fl">

<div class="sort-wrap">

    <a data-id="0" class="act">综合</a>

    <a data-id="9" class="" >字数</a>

    <a data-id="17" class="" >点击</a>

    <a data-id="3" class="" >时间</a>

</div>


<div class="all-book-list inner-wrap">
    <div class="right-book-list">
        <ul>

            <li>
                <div class="book-img">
                    <a href="/book/8273997504565303" target="_blank" title="早安，霸道老公！">
                        <img src="//qidian.qpic.cn/qdbimg/349573/c_8273997504565303/90" alt="早安，霸道老公！">
                    </a>
                </div>
                <div class="book-info">
                    <h3><a href="/book/8273997504565303" target="_blank" title="早安，霸道老公！">早安，霸道老公！</a></h3>
                    <h4><a class="default">韩降雪</a></h4>
                    <p class="tag"><span class="org">现代言情</span><span class="red">连载中</span><span class="blue">28.19万</span></p>
                    <p class="intro">
                        “给我生个继承人！”
一场别有用心的阴谋，让她误入他的禁地，一夜之后却被他抓回去生孩子！
“爵爷，听说您身有隐疾，您是想人工还是试管？”
男人潋滟的眸中寒光乍现，将她咚在墙上，用实际行动告诉她他的选择。
“……”
某一天，苏千寻眼泪汪汪的看着手上小东西上面的两条红杠杠，到底是谁说龙司爵有隐疾？！敢不敢出来跟她谈谈！
他，赫赫有名的豪门大少，狂傲，霸气，冷酷无情，却将她这个落魄千金宠得上天入地，无人能及！【男女主身心干净，1V1】【群号：573222598】
                    </p>
                </div>
            </li>


        </ul>
    </div>
    <div class="page-box cf">
<div class="pagination" id="page-container" data-page="1" data-pagemax="133">
</div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a>本网站不只用于学习</a>
    </div>
<!--登陆-->
<div class="loginmask"></div>
<div id="loginalert">

  <div class="pd20 loginpd">

    <h3><i class="closealert fr"></i>

      <div class="clear"></div>

    </h3>

    <div class="loginwrap">

      <div class="loginh">

        <div class="fl">会员登录</div>

        <div class="fr">还没有账号<a id="sigup_now" href="http://www.jq22.com/" onclick="return false;">立即注册</a></div>

        <div class="clear"></div>

      </div>

      <h3><span>账号登录</span>

        <div class="clear"></div>

      </h3>

      <div class="clear"></div>


        <div class="logininput">

          <input type="text" id="user" name="username" placeholder="输入邮箱" class="loginusername">

          <input type="password" class="loginuserpasswordt" placeholder="输入密码" id="pswd" />

          <input type="password"  name="password" class="loginuserpasswordp" style="display:none" />

        </div>

        <div class="loginbtn">

          <div class="loginsubmit fl">

            <input type="submit" id="submit" value="登录" />

            <div class="loginsubmiting">

              <div class="loginsubmiting_inner"></div>
            </div>
          </div>
          <div class="logcheckbox fl">

            <input id="bcdl" type="checkbox" checked="true" />保持登录</div>

          <div class="fr"><a href="http://www.jq22.com/">忘记密码?</a></div>
          <div class="clear"></div>
      <span id='login_warning' display="none">用户名或密码错误</span>
        </div>


    </div>

  </div>

  <!--<div class="thirdlogin">-->

    <!--<div class="pd50">-->

      <!--<h4>用第三方帐号直接登录</h4>-->

      <!--<ul>-->

        <!--<li id="sinal"><a href="http://www.jq22.com/">微博账号登录</a></li>-->

        <!--<li id="qql"><a href="http://www.jq22.com/">QQ账号登录</a></li>-->

        <!--<div class="clear"></div>-->

      <!--</ul>-->

      <!--<div class="clear"></div>-->

    <!--</div>-->

  <!--</div>-->

</div>
<div id="reg_setp">

  <div class="back_setp">返回</div>

  <div class="blogo"></div>
     <div id="setp_quicklogin">
<div class="reg_div">
    <p>注册</p>
    <ul class="reg_ul">
      <li>
          <span>用户名：</span>
          <input type="text" name="" value="" placeholder="4-8位用户名" class="reg_user">
          <span class="user_hint"></span>
      </li>
      <li>
          <span>密码 ：</span>
          <input type="password" name="" value="" placeholder="6-16位密码" class="reg_password">
          <span class="password_hint"></span>
      </li>
      <li >
          <span>确认 ：</span>
          <input type="password" name="" value="" placeholder="确认密码" class="reg_confirm">
          <span class="confirm_hint"></span>
      </li>
      <li>
          <span>邮箱 ：</span>
          <input type="text" name="" value="" placeholder="邮箱" class="reg_email">
          <span class="email_hint"></span>
      </li>
      <li>
          <span>手机号：</span>
          <input type="email" name="" value="" placeholder="手机号" class="reg_mobile">
          <span class="mobile_hint"></span>
      </li>
      <li>
        <button type="button" name="button" class="red_button">注册</button>
      </li>
    </ul>
  </div>
</div>

</div>
<!--登陆结束-->
 <script src="../static/js/view_js/login.js"></script>
  <script src="../static/js/view_js/all.js"></script>
</body>
</html>