<html>
<head>

    <meta charset="UTF-8">
    <title></title>
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.readnovel.com">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.readnovel.com">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.readnovel.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../static/css/vote_popup.bc428.css">
    <script src="../static/js/jQuery.js"></script>

    <script src="../static/js/view_js/login.js"></script>
    <script src="../static/js/view_js/bookconten.js"></script>


</head>
<body class="theme-0 " style="zoom: 1;">
<div class="wrap">
    <div id="j_bodyRecWrap" class="hidden"></div>
    <div class="crumbs-nav" data-l1="1">
    <a href="//www.readnovel.com" target="_blank">首页</a><em class="iconfont"></em>
    <a href="/all?catId=30020" target="_blank" data-chanid="30020" id="j_chanId"></a><em class="iconfont"></em>
    <a class="act" href="/book/7987318804042503" target="_blank" id="bookImg" ></a>
</div>

<div class="read-main-wrap font-family01" style="font-size:18px" id="j_readMainWrap">
        <div id="j_chapterBox" data-l1="3">

<div class="text-wrap" id="chapter-21904476083371546" data-cid="21904476083371546" data-purl="javascript:void(0);" data-nurl="//www.readnovel.com/chapter/7987318804042503/21904557972275396" data-info="0|0|21904557972275396|1|0">
    <div class="main-text-wrap">
        <div class="text-head">
            <!--<div class="guide-box">
                <cite></cite>
                <p>点击书签后，可收藏每个章节的书签，“阅读进度”可以在个人中心书架里查看</p>
            </div>
            <a class="book-mark" href="javascript:" title="书签" data-cid="21904476083371546" data-bid="7987318804042503" data-auid="5284640304994601" data-eid="qd_R104"></a>-->
            <h3 class="j_chapterName"></h3>
            <div class="text-info cf">
                <div class="info fl">
                    <a href="/book/7987318804042503" target="_blank" id="bookname"><em class="iconfont"></em>/a>
                    <a href="javascript:void(0);" target="_blank" id="autho_name"><em class="iconfont"></em></a>
                    <i><em class="iconfont"></em><span class="j_chapterWordCut">1060</span>字</i>
                    <i><em class="iconfont"></em><span class="j_updateTime">2017-08-02 10:48:52</span></i>
                </div>
            </div>
        </div>
        <div class="read-content j_readContent">
        </p></div>

        <div class="admire-wrap">
            <a class="report-btn j_reportBtn" href="javascript:" data-eid="qd_R106"><em class="iconfont"></em>举报</a>
            <!--<div class="read-btn-box">
                <a class="admire lang j_admireBtn" href="javascript:" data-showtype="3" data-eid="qd_R105">赞赏<span class="j_admireNum"></span></a>
            </div>-->
        </div>

    </div>
</div>
        </div>

<div class="chapter-control dib-wrap" data-l1="3">

    <a id="j_chapterPrev" >上一章</a><span>|</span>
    <a href="" id="mulu" target="_blank">目录</a><span>|</span>
    <a id="j_chapterNext">下一章</a>
</div>

        <div class="la-ball-pulse j_chapterLoad hidden">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div class="float-wrap" id="j_floatWrap">
    <div class="guide-btn-wrap">
        <a class="guide-btn" id="j_guideBtn" href="javascript:">指南</a>
    </div>
</div>
<div id="userLevel" class="hidden"></div>
<div id="authorId" data-authorid="5284640304994601" class="hidden"></div>

</body></html>