<div class="loginmask"></div>

<div id="loginalert">

  <div class="pd20 loginpd">

    <h3><i class="closealert fr"></i>

      <div class="clear"></div>

    </h3>

    <div class="loginwrap">

      <div class="loginh">

        <div class="fl">会员登录</div>

        <div class="fr">还没有账号<a id="sigup_now" href="http://www.jq22.com/" onclick="return false;">立即注册</a></div>

        <div class="clear"></div>

      </div>

      <h3><span>账号登录</span>

        <div class="clear"></div>

      </h3>

      <div class="clear"></div>


        <div class="logininput">

          <input type="text" id="user" name="username" placeholder="输入邮箱" class="loginusername">

          <input type="text" class="loginuserpasswordt" placeholder="输入密码" id="pswd" />

          <input type="password"  name="password" class="loginuserpasswordp" style="display:none" />

        </div>

        <div class="loginbtn">

          <div class="loginsubmit fl">

            <input type="submit" id="submit" value="登录" />

            <div class="loginsubmiting">

              <div class="loginsubmiting_inner"></div>
            </div>
          </div>
          <div class="logcheckbox fl">

            <input id="bcdl" type="checkbox" checked="true" />保持登录</div>

          <div class="fr"><a href="http://www.jq22.com/">忘记密码?</a></div>
          <div class="clear"></div>
      <span id='login_warning' display="none">用户名或密码错误</span>
        </div>


    </div>

  </div>

  <!--<div class="thirdlogin">-->

    <!--<div class="pd50">-->

      <!--<h4>用第三方帐号直接登录</h4>-->

      <!--<ul>-->

        <!--<li id="sinal"><a href="http://www.jq22.com/">微博账号登录</a></li>-->

        <!--<li id="qql"><a href="http://www.jq22.com/">QQ账号登录</a></li>-->

        <!--<div class="clear"></div>-->

      <!--</ul>-->

      <!--<div class="clear"></div>-->

    <!--</div>-->

  <!--</div>-->

</div>

<div id="reg_setp">

  <div class="back_setp">返回</div>

  <div class="blogo"></div>
     <div id="setp_quicklogin">
<div class="reg_div">
    <p>注册</p>
    <ul class="reg_ul">
      <li>
          <span>用户名：</span>
          <input type="text" name="" value="" placeholder="4-8位用户名" class="reg_user">
          <span class="user_hint"></span>
      </li>
      <li>
          <span>密码 ：</span>
          <input type="password" name="" value="" placeholder="6-16位密码" class="reg_password">
          <span class="password_hint"></span>
      </li>
      <li >
          <span>确认 ：</span>
          <input type="password" name="" value="" placeholder="确认密码" class="reg_confirm">
          <span class="confirm_hint"></span>
      </li>
      <li>
          <span>邮箱 ：</span>
          <input type="text" name="" value="" placeholder="邮箱" class="reg_email">
          <span class="email_hint"></span>
      </li>
      <li>
          <span>手机号：</span>
          <input type="email" name="" value="" placeholder="手机号" class="reg_mobile">
          <span class="mobile_hint"></span>
      </li>
      <li>
        <button type="button" name="button" class="red_button">注册</button>
      </li>
    </ul>
  </div>
</div>

</div>