<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/footer.729bd.css">
     <script src="../static/js/jQuery.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/images/ue_grid.css" />

<link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/images/style.css" />

<link rel="stylesheet" type="text/css" href="../static/template/ue-content/templates/css/style.css" />


<script language="javascript" src="../static/script/jquery.easing.min.js"></script>

<script language="javascript" src="../static/script/custom.js"></script>



</head>
<body style="zoom: 1;">
<div class="wrap">
<div class="header">
    <div class="top-head box-center cf">
        <div class="box-cente">



            <div class="search-wrap">
                <!--<form class="cf" id="formUrl" action="//www.readnovel.com/search" method="get" target="_blank">-->
                    <!--<input class="search-box" id="s-box" name="kw" type="text" placeholder="婚途有坑：爹地，快离婚" autocomplete="off" value="">-->
                    <!--<input class="submit-input" type="submit" id="searchSubmit" data-eid="">-->
                    <!--<label id="search-btn" class="search-btn" for="searchSubmit"><em class="iconfont">-->
                    <!--</em></label></form>-->
            </div>
            <div class="user-wrap"><div class="avatar" id="j-userWrap">
                <a class="link" href="javascript:" id="j-avatar">
                    <img class="openlogin" src="../static/imgs/account.1e031.png">
                </a><div class="down-drop" id="j-userDownDrop">
                <dl><dd><a href="javascript:" id="sign-out">退出</a>
                </dd></dl></div></div><ul>

                <li><a class="head-shelf" href="javascript:"><em class="iconfont"></em>我的书架</a></li>
            </ul></div>

        </div>
    </div>
    <div class="top-nav-wrap box-center cf">
       <div class="left-nav fl"><ul class="cf">
          <li> <a href="/all.html"><em class="iconfont">
          </em>全部分类</a></li>
           <li class=""><a href="index.html">首页</a></li>
           </li><li class=""><a href="rank.html">排行榜</a></li>
           <li class=""><a href="free.html">免费</a></li>
           </ul>
       </div><div class="right-nav fr">
       <a class="j-goCharge" href="javascript:" target="_blank"><em class="iconfont">
       </em>充值</a><a href="/authon/index.html" target="_blank"><em class="iconfont"></em>作家专区</a></div></div>
</div>
    <div class="rank-box box-center cf">

<div class="rank-nav-list fl">
    <ul>
        <li class="act"><a href="/rank"><em class="iconfont">
            </em>全部榜单</a></li>

    </ul>
</div>
        <div class="main-content-wrap fl">
            <div class="rank-body cf">

                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">周推荐榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/8410348603558103" target="_blank">天价宝贝：101次枕边书</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/7987318804042503" target="_blank">亿万豪宠：上将的专属宝贝</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/9500446903583303" target="_blank">暖婚似火：顾少，轻轻宠</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/8415381704809103" target="_blank">婚途有坑：爹地，快离婚</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/8273997504565303" target="_blank">早安，霸道老公！</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/8150719404704403" target="_blank">重生小俏媳：首长，早上好！</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/8782627204667603" target="_blank">明月度关山</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/5663101703071201" target="_blank">放倒男神在线直播</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/4066982303076201" target="_blank">绝色狂医：魔神大人，轻点撩</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/6233251403829601" target="_blank">重生八零俏佳妻</a></li>

                        </ul>

                    </div>
                </div>
                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">完本榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/3733958303449801" target="_blank">重生极品祸妃</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/6314402904050001" target="_blank">新婚无爱，替罪前妻</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/7075036504972803" target="_blank">悍妻归来，误惹摄政王</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/5282978903343101" target="_blank">婚途有坑：前妻有喜了</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/3732783004634801" target="_blank">神秘总裁小小妻</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/3830047103538901" target="_blank">农家女厨神</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/3733955003434301" target="_blank">亿万老公太危险</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/25378703000542901" target="_blank">六指农女</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/25464082000471901" target="_blank">倾心之恋：总裁的妻子</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/3830046803538401" target="_blank">将军令：夫人不准改嫁</a></li>

                        </ul>

                    </div>
                </div>
                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">更新榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/9149675304194503" target="_blank">银锁莲花瓣</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/9674959904552703" target="_blank">口袋里的猫</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/7943133504728103" target="_blank">总裁大人好卖力</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/9743755204924703" target="_blank">注定逃不过的手掌心</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/9822340804563403" target="_blank">暖阳冬日，我不曾离去</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/9164603103109003" target="_blank">恶魔邪少：强势霸爱小甜心</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/9793829804525203" target="_blank">如果生命有如果</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/9803423803308903" target="_blank">你是我怀中猫，意中人</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/9813086303011403" target="_blank">注定与你，一生相伴</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/8476783004502603" target="_blank">蜜爱1V1：首席宠上天</a></li>

                        </ul>

                    </div>
                </div>
                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">打赏榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/7718843904528103" target="_blank">毒妃妖娆：邪帝，来战！</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/8410348603558103" target="_blank">天价宝贝：101次枕边书</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/5282978903343101" target="_blank">婚途有坑：前妻有喜了</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/9589412704460603" target="_blank">双狮风云，星际翱翔</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/8583938904945203" target="_blank">妃要爬墙：王爷，请冷静</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/7239045904998903" target="_blank">特工总裁坏坏坏</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/6459572303827901" target="_blank">帝少强娶：甜妻太可口</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/6314402904050001" target="_blank">新婚无爱，替罪前妻</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/4515314303406601" target="_blank">军长宠妻：重生农媳逆袭</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/4066982303076201" target="_blank">绝色狂医：魔神大人，轻点撩</a></li>

                        </ul>

                    </div>
                </div>
                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">点击榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/8410348603558103" target="_blank">天价宝贝：101次枕边书</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/6233251403829601" target="_blank">重生八零俏佳妻</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/8273997504565303" target="_blank">早安，霸道老公！</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/7987318804042503" target="_blank">亿万豪宠：上将的专属宝贝</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/7902425703570103" target="_blank">暖妻入怀</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/9500446903583303" target="_blank">暖婚似火：顾少，轻轻宠</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/25397969000762101" target="_blank">首席的独宠新娘</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/4066982303076201" target="_blank">绝色狂医：魔神大人，轻点撩</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/5369131804594101" target="_blank">重生之嫡女谋嫁</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/25399917000790401" target="_blank">亲亲总裁抱不够</a></li>

                        </ul>

                    </div>
                </div>
                <div class="rank-list">
                    <h3 class="wrap-title"><em class="lang">收藏榜</em></h3>
                    <div class="book-rank-list">

                        <ul>

                            <li><span class="num1">1</span><a class="name" href="/book/25377889000533901" target="_blank">腹黑总裁要抱抱</a></li>

                            <li><span class="num2">2</span><a class="name" href="/book/3733873903383101" target="_blank">总裁前妻很抢手</a></li>

                            <li><span class="num3">3</span><a class="name" href="/book/3733955003434301" target="_blank">亿万老公太危险</a></li>

                            <li><span class="num4">4</span><a class="name" href="/book/3733961804351601" target="_blank">国民男神爱上我</a></li>

                            <li><span class="num5">5</span><a class="name" href="/book/5293697704945901" target="_blank">步步逼婚：抢来的老公</a></li>

                            <li><span class="num6">6</span><a class="name" href="/book/25378321000538901" target="_blank">至尊商女千千岁</a></li>

                            <li><span class="num7">7</span><a class="name" href="/book/2630032201102301" target="_blank">傲妃，风华无双</a></li>

                            <li><span class="num8">8</span><a class="name" href="/book/25392047000692901" target="_blank">重生之千金要复仇</a></li>

                            <li><span class="num9">9</span><a class="name" href="/book/25397969000762101" target="_blank">首席的独宠新娘</a></li>

                            <li><span class="num10">10</span><a class="name" href="/book/25441823000341501" target="_blank">龙王令：妃卿莫属</a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a>本网站只用于学习</a>
    </div>
    </div>
<!--登陆-->
<div class="loginmask"></div>
<div id="loginalert">

  <div class="pd20 loginpd">

    <h3><i class="closealert fr"></i>

      <div class="clear"></div>

    </h3>

    <div class="loginwrap">

      <div class="loginh">

        <div class="fl">会员登录</div>

        <div class="fr">还没有账号<a id="sigup_now" href="http://www.jq22.com/" onclick="return false;">立即注册</a></div>

        <div class="clear"></div>

      </div>

      <h3><span>账号登录</span>

        <div class="clear"></div>

      </h3>

      <div class="clear"></div>


        <div class="logininput">

          <input type="text" id="user" name="username" placeholder="输入邮箱" class="loginusername">

          <input type="password" class="loginuserpasswordt" placeholder="输入密码" id="pswd" />

          <input type="password"  name="password" class="loginuserpasswordp" style="display:none" />

        </div>

        <div class="loginbtn">

          <div class="loginsubmit fl">

            <input type="submit" id="submit" value="登录" />

            <div class="loginsubmiting">

              <div class="loginsubmiting_inner"></div>
            </div>
          </div>
          <div class="logcheckbox fl">

            <input id="bcdl" type="checkbox" checked="true" />保持登录</div>

          <div class="fr"><a href="/">忘记密码?</a></div>
          <div class="clear"></div>
      <span id='login_warning' display="none">用户名或密码错误</span>
        </div>


    </div>

  </div>

  <!--<div class="thirdlogin">-->

    <!--<div class="pd50">-->

      <!--<h4>用第三方帐号直接登录</h4>-->

      <!--<ul>-->

        <!--<li id="sinal"><a href="http://www.jq22.com/">微博账号登录</a></li>-->

        <!--<li id="qql"><a href="http://www.jq22.com/">QQ账号登录</a></li>-->

        <!--<div class="clear"></div>-->

      <!--</ul>-->

      <!--<div class="clear"></div>-->

    <!--</div>-->

  <!--</div>-->

</div>
<div id="reg_setp">

  <div class="back_setp">返回</div>

  <div class="blogo"></div>
     <div id="setp_quicklogin">
<div class="reg_div">
    <p>注册</p>
    <ul class="reg_ul">
      <li>
          <span>用户名：</span>
          <input type="text" name="" value="" placeholder="4-8位用户名" class="reg_user">
          <span class="user_hint"></span>
      </li>
      <li>
          <span>密码 ：</span>
          <input type="password" name="" value="" placeholder="6-16位密码" class="reg_password">
          <span class="password_hint"></span>
      </li>
      <li >
          <span>确认 ：</span>
          <input type="password" name="" value="" placeholder="确认密码" class="reg_confirm">
          <span class="confirm_hint"></span>
      </li>
      <li>
          <span>邮箱 ：</span>
          <input type="text" name="" value="" placeholder="邮箱" class="reg_email">
          <span class="email_hint"></span>
      </li>
      <li>
          <span>手机号：</span>
          <input type="email" name="" value="" placeholder="手机号" class="reg_mobile">
          <span class="mobile_hint"></span>
      </li>
      <li>
        <button type="button" name="button" class="red_button">注册</button>
      </li>
    </ul>
  </div>
</div>

</div>
<!--登陆结束-->
<!--登陆结束-->
<script src="../static/js/view_js/login.js"></script>
    <script src="../static/js/view_js/rank.js"></script>

</body>
</html>