<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/footer.729bd.css">


</head>
<body style="background-color: #f5f5f5;">
<div class="header">
    <div class="top-head box-center cf">
        <div class="box-cente">

            <div class="logo">

                <img src="../static/imgs/logo.png.png" height="78" width="199"/></div>

            <div class="search-wrap">
                <form class="cf" id="formUrl" action="//www.readnovel.com/search" method="get" target="_blank">
                    <input class="search-box" id="s-box" name="kw" type="text" placeholder="婚途有坑：爹地，快离婚" autocomplete="off" value="">
                    <input class="submit-input" type="submit" id="searchSubmit" data-eid="">
                    <label id="search-btn" class="search-btn" for="searchSubmit"><em class="iconfont">
                    </em></label></form></div>
            <div class="user-wrap"><div class="avatar" id="j-userWrap">
                <a class="link" href="javascript:" id="j-avatar">
                    <img src="../static/imgs/account.1e031.png">
                </a><div class="down-drop" id="j-userDownDrop">
                <dl><dd><a href="javascript:" id="sign-out">退出</a>
                </dd></dl></div></div><ul><li><a class="head-msg" href="javascript:" title="消息中心">
                <em class="glyphicon glyphicon-paste"></em></a></li><li><a class="head-shelf" href="javascript:"><em class="glyphicon glyphicon-tasks"></em>我的书架</a></li></ul></div>

        </div>
    </div>
   <div class="top-nav-wrap box-center cf">
       <div class="left-nav fl"><ul class="cf">
          <li> <a href="/all"><em class="iconfont">
          </em>全部分类</a></li>
           </li><li class=""><a href="/rank">排行榜</a></li>
           <li class=""><a href="/free">免费</a></li>
           <li class=""><a href="/finish">完本</a></li>
           <li class=""><a href="/xyqc">现言青春</a></li>
           <li class=""><a href="/gyxh">古言玄幻</a></li>
           <li class=""><a href="/smhx">神秘幻想</a></li></ul>
       </div><div class="right-nav fr">
       <a class="j-goCharge" href="javascript:" target="_blank"><em class="iconfont">
       </em>充值</a><a href="//write.qq.com/public/login.html?siteid=5" target="_blank"><em class="iconfont"></em>作家专区</a></div></div>
</div>
    <div class="footer">
        <a>sdsdsd</a>
    </div>
</body>
</html>