<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../../static/css/contentv2_base.css">
    <link rel="stylesheet" href="../../static/css/conten_login.css">
    <script src="../../static/js/jQuery.js"></script>



</head>
<body>
<div class="wrap login">
    <div class="header">
        <div class="headBox pageCenter cf">
            <a href="/index.html"><img class="logo fl" src="https://img1.write.qq.com/writer/p1/contentv2/logo.png" width="225" height="28" alt="阅文·作家专区"></a>
        </div>
    </div>
    <div class="loginWrap pageCenter">
                    <img src="https://img1.write.qq.com/writer/p1/contentv2/slogan.jpg" alt="">

        <div class="login-box">
            <html><head>
   <meta charset="UTF-8">
<meta name="robots" content="all">
<meta name="googlebot" content="all">
<meta name="baiduspider" content="all">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
<meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<title>账号登录 | </title>
<link rel="stylesheet" type="text/css" href="https://sta.gtimg.com/c/=/qd4/css/cssreset.css,/qd4/css/header.css,/qd4/css/login.css,/qd4/css/layout.css,/qd4/css/sprites.css,/qd4/css/ui.css,/qd4/css/footer.css,/qd4/css/font.css,/qd4/css/reg.css,/qd4/css/pact.css">
<link rel="shortcut icon" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.0.2.ico">
<link rel="Bookmark" type="image/x-icon" href="//qidian.gtimg.com/qd/favicon/qd_icon.0.2.ico"></head>
<body>
<style>
body {
    background:none;
}
</style>
<!-- start 登录区 -->
<div class="login-wrap type-34 fl">
        <!-- start 登录切换 -->
    <div class="login-tab cf" id="j_loginTab">
        <ul>

                            <li class="lang act" tab="qidian">
                    账号登录                </li>

                                </ul>
    </div>
    <!-- end 登录切换 -->


    <!-- start 登录切换容器 -->
    <div class="login-switch-wrap">
        <div class="login-tab-wrap" id="j_loginSwitchWrap">
            <!-- start 阅文通行证 -->
                            <div class="login-box qd-login yw-login qidian-login ">
                    <!-- start webPC登录容器 -->
                    <div class="web-login-wrap">
                        <!-- start 两种输入模式容器 -->
                        <div class="login-input-mode" id="j-loginInputMode">
                            <!-- start 输入登录模式 -->
                            <div class="login-mode input-mode show" id="j-inputMode">
                                <div class="error-tip hidden"></div>
                                <dl>
                                    <dd><em class="iconfont">
                                            </em><input type="text" tabindex="1" placeholder="邮箱" id="email">
                                    </dd>
                                    <dd><em class="iconfont">
                                            </em><input type="password" tabindex="2" placeholder="密码" id="password">
                                    </dd>
                                    <dd class="code-input" style="display:none;" id="dvCode"><em class="iconfont">
                                            </em><input type="text" id="txtCode" placeholder="请输入验证码">
                                        <img src="" id="imgCode" alt="验证码">
                                        <div class="code-tip">
                                            <cite></cite>
                                            <p>点击图片刷新</p>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- start 登录操作 -->
                                <div class="login-common-wrap">
                                    <div class="auto-login-box cf">
                                        <div class="link fr">
                                            <a href="https://aq.yuewen.com/welcome/validateuser" target="_blank" id="forgetPsw">忘记密码</a>
                                        </div>
                                    </div>
                                    <a class="red-btn go-login btnLogin login-button" id="login" href="javascript:">登 录</a>
                                </div>
                                <!-- end 登录操作 -->
                            </div>
                            <!-- end 输入登录模式 -->

                            <!-- start 手机登录模式 -->

                            <!-- end 手机登录模式 -->
                            <!-- start 通用结构 -->
                            <div class="common-html-wrap">
                                <!-- start 注册 -->
                                <div class="reg-wrap">
                                    <p>
                                        <a href="/authon/authon_registrt.html">
                                            免费注册                                        </a>
                                    </p>
                                </div>
                                <!-- end 注册 -->

                                    <div class="other-way" id="j-moreMode">
                                        <p>
                                                                                                                                                                                    <a class="icon-alipay" href="https://ptlogin.qidian.com/login/alipaylogin?appid=34&amp;areaid=1006&amp;target=top&amp;ticket=1&amp;popup=1&amp;auto=0&amp;autotime=14&amp;ajaxdm=&amp;returnUrl=https%3A%2F%2Fwrite.qq.com%3Fartidx%3D0&amp;jumpdm=qidian" target="_blank"><em class="iconfont">
                                                        </em></a>
                                                                                                                                        <a class="icon-sina" href="https://ptlogin.qidian.com/login/weibologin?appid=34&amp;areaid=1006&amp;target=top&amp;ticket=1&amp;popup=1&amp;auto=0&amp;autotime=14&amp;ajaxdm=&amp;returnUrl=https%3A%2F%2Fwrite.qq.com%3Fartidx%3D0&amp;jumpdm=qidian" target="_blank"><em class="iconfont">
                                                        </em></a>
                                                                                                                                        <a class="icon-baidu" href="https://ptlogin.qidian.com/login/baidulogin?appid=34&amp;areaid=1006&amp;target=top&amp;ticket=1&amp;popup=1&amp;auto=0&amp;autotime=14&amp;ajaxdm=&amp;returnUrl=https%3A%2F%2Fwrite.qq.com%3Fartidx%3D0&amp;jumpdm=qidian" target="_blank"><em class="iconfont">
                                                        </em></a>
                                                                                                                                </p>
                                    </div>

                                                                        <
                                                            </div>
                            <!-- end 两种模式通用结构 -->

                        </div>
                        <!-- end 两种输入模式容器 -->
                        <!-- login-mode-switch 后加 class切换   input：输入模式 scan：扫码模式 -->
                        <!-- start 右下角扫码和输入模式登录切换 -->
                                                    <div class="login-mode-switch scan" id="j-switchLoginMode">
                                <a href="javascript:"></a>
                            </div>
                                                <!-- end 右下角扫码和输入模式登录切换 -->
                        <!
                    </div>




                </div>
                        <!-- end 阅文通行证 -->



            <!-- start 快速注册  -->
                        <!-- end 快速注册 -->


        </div>
    </div>
    <!-- end 登录切换容器 -->

</div>
<!-- end 登录区 -->




</body></html>
        </div>
    </div>
    <div class="footer">
</div>
</div>
<script src="../../static/js/view_js/authon_login.js"></script>



</body>
</html>