<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/ahtho_regist.css">
    <script src="../../static/js/jQuery.js"></script>

</head>
<body>

<div id="top"><h1>用户注册</h1></div>

<div class="form-bak">

<form id="from_on" onsubmit="adaptValue();">

<div class="left">

<div class="line" id="line_account">

<div class="info">

<strong>邮箱</strong>

<span class="tips">邮箱就是账号</span>

</div>

<div class="input">

<input type="text" name="account" id="account" onblur="v_account();" onkeyup="v_account();"/>

<div class="none">

<span></span>

</div>

</div>

</div>

<div class="line" id="line_name">

<div class="info">

<strong>用户名</strong>

<span class="tips">只能由数字、文字或下划线组成<br />最多32个字符</span>

</div>

<div class="input">

<input type="text" name="name" id="name" onblur="v_name();" onkeyup="v_name();" />

<div class="none">

<span></span>

</div>

</div>

</div>

<div class="line" id="line_password">

<div class="info">

<strong>密码</strong>

<span class="tips">6至16个字符</span>

</div>

<div class="input">

<input type="password" name="password" id="password" onblur="v_password();" onkeyup="v_password();" />

<div class="none">

<span></span>

</div>

</div>

</div>

<div class="line" id="line_repeat">

<div class="info">

<strong>确认密码</strong>

<span class="tips">再次输入密码</span>

</div>

<div class="input">

<input type="password" name="repeat" id="repeat" onblur="v_repeat();" onkeyup="v_repeat();" />

<div class="none">

<span></span>

</div>

</div>

</div>

</div>

<div class="right">

<input type="submit" id="submit" value="完成注册" disabled="disabled"/>

<div class="readagreement-wrap" onclick="onReadAgreementClick();">

<input type="checkbox" name="agree" id="agree" onchange="v_submitbutton();" />

同意《<a id="readagreement" href="#agreement" onclick="showAgreement();" title="查看用户使用协议">用户使用协议</a>》

</div>

<div>已经拥有账号，<a href="/authon/authon_login.html">直接登录</a></div>

<div>忘记密码，<a href="#">请联系管理员</a></div>

</div>

</form>

</div>

<div id="agreement" class="agreement" style="display:none;">

<h1>用户使用协议</h1>

<iframe src=""></iframe>

<input type="button" value="同意" onclick="agree();"/>

<a href="#" class="backtotop" >返回顶部</a>

</div>

</body>
    <script src="../../static/js/view_js/authon_registrt.js"></script>

</html>