<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../../static/css/contentv2_base.css">
    <link rel="stylesheet" href="../../static/css/contentv2_index.css">
    <script src="../../static/js/jQuery.js"></script>
    <link rel="stylesheet" href="../../static/css/contentv2_book_manage.css">

</head>
<body>
<div class="wrap">
     <div class="header">
    <div class="headBox pageCenter cf">
      <a href="/index.html">
        <img class="logo fl" src="https://img1.write.qq.com/writer/p1/contentv2/logo.png" width="225" height="28" alt="阅文·作家专区">
      </a>
      <div class="headUser fr">
        <ul class="cf">

          <li class="line"></li>
          <li id="headPhotoBox" class="headPhoto">
            <p><em><img src="https://img1.write.qq.com/writer/p1/contentv2/photo_default.png" width="36" height="36" alt=""></em><a class="userName" href="javascript:">v1列子御风</a></p>
            <dl class="userBox">
              <cite class="icon whiteSj"></cite>
              <dd class="userInfo hidden">
                  <!-- 增加身份标识"ico-level",silver为白金作家，dashen为大神作家 -->
                <p class="name" title="v1列子御风">v1列子御风

                </p>
                <p class="level">

                <span><em style="width:70%">0/0</em></span></p>
              </dd>
              <dd class="link end"><a href="/public/logout.html">退出登录</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
</div>
</div>
<!-- start banner -->

<!-- end banner -->
<!-- 黄条提示 -->
<div id="warnTipBox" class="warningWrap" style="display:none;">
    <div class="pageCenter">
      <p><span class="icon alert"></span><span id="warnTip"></span></p>
      <a id="warnTipCloseBtn" class="icon close" href="javascript:" title="关闭"></a></div>
</div>
<!--更改VIP管理密码-->
    <div class="mainWrap pageCenter cf">
        <div id="leftNav" class="mainLeft fl" style="visibility: visible;">
            <div class="sideBar" id="main-bar">
                   <ul>
                      <li>
                        <a href="/authon/index.html"><span class="home"></span>专区首页</a>
                    </li>
                    <li>
                        <a href="/authon/novels.html"><span class="works"></span>作品管理</a>
                    </li>
                    <li><a href="/authon/takeindex.html"><span class="data-icon"></span>数据统计</a>
                          <!-- start 工具栏提示 -->
                                          </li>
                    <!---->
                    <li class="act">
                        <a href="/authon/income.html"><span class="income"></span>稿酬收入</a>
                    </li>
                      </ul>
            </div>

            <!-- start 小屏下的列表-->
            <div class="sideBar min-bar" id="min-bar">
                <ul>
                    <li>
                    <a class="min-link" href="/index.html"><span class="icon home"></span></a>
                    <a class="expand" href="/index.html">专区首页</a>
                    </li>
                    <li class="act">
                        <a class="min-link" href="/booknovels/novels.html"><span class="icon works"></span></a>
                        <a class="expand" href="/booknovels/novels.html">作品管理</a>
                    </li>

                    <li>
                        <a class="min-link" href="/booknovelsvip/takeindex.html"><span class="icon reserve"></span></a>
                        <a class="expand" href="/booknovelsvip/takeindex.html">数据统计</a>
                    </li>


                    <li>
                        <a class="min-link" href="/income/index.html"><span class="icon income"></span></a>
                        <a class="expand" href="/income/index.html">稿酬收入</a>
                    </li>
                    <li>
                        <a class="min-link" href="/labor.html"><span class="icon labour"></span></a>
                        <a class="expand" href="/labor.html">劳务收入</a>
                    </li>


                    <li>
                        <a class="min-link" href="/authors/authorconsultlist.html"><span class="icon counsel"></span></a>
                        <a class="expand" href="/authors/authorconsultlist.html">作家咨询</a>
                    </li>

                    <li>
                        <a class="min-link" href="/integral_exchange/exchange.html"><span class="icon exchange"></span></a>
                        <a class="expand" href="/integral_exchange/exchange.html">积分兑换</a>
                    </li>
                    <li>
                        <a class="min-link" href="/interactivechapter/index.html"><span class="icon active"></span></a>
                        <a class="expand" href="/interactivechapter/index.html">互动管理</a>
                    </li>

                    <!--微信管理-->
                </ul>
            </div>
            <!-- end 小屏下的列表-->

        </div>
<div class="mainRight pb260 fl">
    <div class="crumbsWrap"><b></b><i class="before"><span><a href="/booknovels/novels.html">作品管理</a></span></i><em class="diff"></em><i class="current"><span>作品创建</span></i></div>
    <center class="stepTitle">
        <span class="act">1</span><em class="actText">选择站点</em><i class="icon"></i>
        <span class="act">2</span><em class="actText">完善作品信息</em><i class="icon"></i>
        <span class="act">3</span><em class="actText">创建成功</em>
    </center>
    <div class="workStepList step4">
        <h3><span class="icon ok"></span>作品创建成功</h3>

        <p class="c999 info">新建作品后，请尽快上传新章节，章节上传满2000字之后将会进入编辑审核后台，编辑将会在2个工作日内进行审核。</p>
		<p class="c999 info"><b>请注意：根据国家相关法律法规要求，请勿上传任何色情、低俗、涉政等违法违规内容，我们将会根据法规进行审核处理和上报。</b></p>
        <br>
        <br>
<!--        <center class="step3Btn"><a class="button"
                                    href="/booknovels/chaptertmp/CBID/9871918303471303/addType/1.html">添加新章节</a>
            <a class="button white" href="/booknovels/bookmanage/CBID/9871918303471303.html">管理作品信息</a>
        </center>-->

    </div>
<img id="requestLoadingTip" class="loadImg" style="display:none;" src="https://img1.write.qq.com/writer/p1/contentv2/loading.gif"></div>
    </div>

<script src="../../static/js/view_js/authon_login_chek.js"></script>
</div>
</body>
</html>