<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/contentv2_base.css">
    <link rel="stylesheet" href="../../static/css/contentv2_index.css">
<script src="../../static/js/jQuery.js"></script>


</head>
<body>
<div class="wrap">
     <div class="header">
    <div class="headBox pageCenter cf">
      <a href="/index.html">
        <img class="logo fl" src="https://img1.write.qq.com/writer/p1/contentv2/logo.png" width="225" height="28" alt="阅文·作家专区">
      </a>
      <div class="headUser fr">
        <ul class="cf">

          <li class="line"></li>
          <li id="headPhotoBox" class="headPhoto">
            <p><em><img src="https://img1.write.qq.com/writer/p1/contentv2/photo_default.png" width="36" height="36" alt=""></em><a class="userName" href="javascript:">v1列子御风</a></p>
            <dl class="userBox">
              <cite class="icon whiteSj"></cite>
              <dd class="userInfo hidden">
                  <!-- 增加身份标识"ico-level",silver为白金作家，dashen为大神作家 -->
                <p class="name" title="v1列子御风">v1列子御风

                </p>
                <p class="level">

                <span><em style="width:70%">0/0</em></span></p>
              </dd>
              <dd class="link end"><a href="/public/logout.html">退出登录</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
</div>
<!-- start banner -->

<!-- end banner -->
<!-- 黄条提示 -->
<div id="warnTipBox" class="warningWrap" style="display:none;">
    <div class="pageCenter">
      <p><span class="icon alert"></span><span id="warnTip"></span></p>
      <a id="warnTipCloseBtn" class="icon close" href="javascript:" title="关闭"></a></div>
</div>
<!--更改VIP管理密码-->
    <div class="mainWrap pageCenter cf">
        <div id="leftNav" class="mainLeft fl" style="visibility: visible;">
            <div class="sideBar" id="main-bar">
             <ul>
                      <li class="act">
                        <a href="/authon/index.html"><span class="home"></span>专区首页</a>
                    </li>
                    <li>
                        <a href="/authon/novels.html"><span class="works"></span>作品管理</a>
                    </li>
                    <li><a href="/authon/takeindex.html"><span class="data-icon"></span>数据统计</a>
                          <!-- start 工具栏提示 -->
                                          </li>
                    <!---->
                    <li>
                        <a href="/authon/income.html"><span class="income"></span>稿酬收入</a>
                    </li>
                      </ul>
            </div>

            <!-- start 小屏下的列表-->
            <div class="sideBar min-bar" id="min-bar">
            <ul>
                      <li class="act">
                        <a href="/authon/index.html"><span class="home"></span>专区首页</a>
                    </li>
                    <li>
                        <a href="/authon/novels.html"><span class="works"></span>作品管理</a>
                    </li>
                    <li><a href="/authon/takeindex.html"><span class="data-icon"></span>数据统计</a>
                          <!-- start 工具栏提示 -->
                                          </li>
                    <!---->
                    <li>
                        <a href="/authon/income.html"><span class="income"></span>稿酬收入</a>
                    </li>
                      </ul>
            </div>
            <!-- end 小屏下的列表-->

        </div>

<link rel="stylesheet" type="text/css" href="https://sta1.write.qq.com/writer/0207181305/css/merge/contentv2_index.css"><div class="mainRight pb260 fl">
<div class="authorInfoWrap cf">
    <h1>欢迎来到作家专区</h1>
    <div class="headPhotoBox fl">
         <span></span> <img src="https://img1.write.qq.com/writer/p1/contentv2/photo_default.png" width="86" height="86">
    </div>
    <!-- 码字日历按钮 -->
</div>
<div id="pagerBox" class="pageBox fr"></div>
<img id="requestLoadingTip" class="loadImg" style="display: none;" src="https://img1.write.qq.com/writer/p1/contentv2/loading.gif"></div>
<!--新手引导-->
<div id="mask" class="mask" style="display:none;"></div>
<div id="joyRideTipContent" style="display:none;">
  <ul>
    <li data-id="msgBox" data-text="下一步" class="custom">
      <p>作品信息的审核结果，以及咨询内容的回复会以通知的形式进行提醒</p>
    </li>
    <li data-id="headPhotoBox" data-text="完成">
      <p>点此展开下拉菜单，可修改作家资料和VIP管理密码</p>
    </li>
  </ul>
</div>
<!-- 关联规则的浮层 -->
<div id="relateRulePopup" class="popupWrap w680 radius-pop hidden">
    <a data-node="close" class="icon closePopup" href="javascript:" title="关闭"></a>
    <h3>阅文男生编辑部工作调整升级公告</h3>
    <div class="popupBody  p30 popupBody-notice">
        <div class="popupContent">
            <div id="ruleText" class="rules-text">

<p>为了满足网络文学日益提升的精细化运作需求，保障各大品类签约作品都能共享阅文集团19大渠道的资源优势和用户增长，并得到更加专业的培养和全IP运作，即日起，阅文男生编辑部将对现有工作模式进行升级调整。</p>
<p>本次男生编辑部升级将由尾号负责制升级为品类编辑制，由更专业的品类编辑负责您当前的作品并展开整体运作。</p>
<p></p><h2>一、编辑工作调整范围</h2><p></p>
<p>本次调整涉及的作家为：起点中文网、创世中文网全体签约作家。</p>
<p>（注：起点女生网、云起书院不参与调整）</p>

<p></p><h2>二、编辑工作调整办法：</h2><p></p>
<p>由依照作家尾号分组改为依照当前正在创作的作品类型确定编辑。</p>
<p>其中，作品已完本，且尚未创作新书的作家，可以依照最后一部完结作品类型，也可以按照新书计划创作的类型联系相应编辑。</p>

<p></p><h2>三、各品类编辑联系办法：</h2><p></p>
<p>请作家朋友们依照自己所在网站、当前作品类型与编辑组联系相应的品类编辑即可。</p>
<p>示例：</p>
<p>作家甲当前为起点中文网第5编辑组作家，作品为都市类。则作家甲当前作品的责任编辑为梧桐（QQ：569662105）。</p>
<br>
<p class="links"><a data-node="close" style="cursor:pointer">具体编辑联系方法请点击查看</a></p>
<br>
<p>网络文学新的时代已经来临，我们的调整就是为了在这个新的时代创造更好的平台，让您的作品能够得到更多的机会、更公平的待遇和更深入的运作。</p>
<p>改变的是制度，不变的是态度。</p>
<p>我们将一如既往，秉承专业、伙伴的精神，为大家继续服务。</p>
<p>希望广大作家朋友们和我们一道，赢得更大的未来！</p>
            </div>
        </div>
        <div class="confirmBtn dib-wrap">
            <a data-node="close" class="button" href="javascript:">确定</a>
        </div>
    </div>
</div>
<!-- 码字日历begin -->


    </div>
    <div class="footer">
	<div class="pageCenter">
	<div id="contact-bubble" class="footer-bubble">
		<em><i></i></em>
		<ul>
			<li><a target="_blank" href="http://kf.qidian.com/Default.aspx">联系起点客服</a></li>
			<li><a target="_blank" href="http://kf.qq.com/product/chuangshi.html">联系创世客服</a></li>
		</ul>
    </div>
            <a target="_blank" href="http://bbs.write.qq.com">作家论坛</a><span>|</span>
		<a target="_blank" href="/about/help_center.html">帮助中心</a><span>|</span>
		<a id="contact" href="javascript:;">联系客服</a><span>|</span><a target="_blank" href="http://join.book.qq.com/introduction.html">关于我们</a><span>|</span><a target="_blank" href="http://join.book.qq.com/social.html">诚聘英才</a><span>|</span><a target="_blank" href="/about/copyright.html">版权声明</a><span>|</span>Copyright
		© 2018 All Rights Reserved 阅文集团 版权所有
	</div>
</div>
</div>
<script src="../../static/js/view_js/authon_login_chek.js"></script>
    <script src="../../static/js/view_js/auhton_index.js"></script>
</body>
</html>