<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../../static/css/contentv2_base.css">

    <script src="../../static/js/jQuery.js"></script>
    <link rel="stylesheet" href="../../static/css/contentv2_book_manage.css">
    <script src="../../static/js/view_js/authon_login_chek.js"></script>
    <script src="../../static/js/view_js/recycle.js"></script>

</head>
<body>
<div class="wrap">
     <div class="header">
    <div class="headBox pageCenter cf">
      <a href="/index.html">
        <img class="logo fl" src="https://img1.write.qq.com/writer/p1/contentv2/logo.png" width="225" height="28" alt="阅文·作家专区">
      </a>
      <div class="headUser fr">
        <ul class="cf">

          <li class="line"></li>
          <li id="headPhotoBox" class="headPhoto">
            <p><em><img src="https://img1.write.qq.com/writer/p1/contentv2/photo_default.png" width="36" height="36" alt=""></em><a class="userName" href="javascript:">v1列子御风</a></p>
            <dl class="userBox">
              <cite class="icon whiteSj"></cite>
              <dd class="userInfo hidden">
                  <!-- 增加身份标识"ico-level",silver为白金作家，dashen为大神作家 -->
                <p class="name" title="v1列子御风">v1列子御风

                </p>
                <p class="level">

                <span><em style="width:70%">0/0</em></span></p>
              </dd>
              <dd class="link end"><a href="/public/logout.html">退出登录</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
</div>
<!-- start banner -->

<!-- end banner -->
<!-- 黄条提示 -->
<div id="warnTipBox" class="warningWrap" style="display:none;">
    <div class="pageCenter">
      <p><span class="icon alert"></span><span id="warnTip"></span></p>
      <a id="warnTipCloseBtn" class="icon close" href="javascript:" title="关闭"></a></div>
</div>
<!--更改VIP管理密码-->
<div id="modifyPwdPopup" class="popupWrap w380" style="display:none;">
  <a data-node="closeBtn" class="icon closePopup" href="javascript:"></a>
  <h3>更改VIP管理密码</h3>
  <div class="popupBody p30">
    <div class="popupContent">
      <p>原密码</p>
      <p class="mb20">
        <input data-node="originalPwdInput" class="longInput" type="password" value="">
      </p>
      <p>新密码</p>
      <p class="mb20">
        <input data-node="newPwdInput" class="longInput" type="password" value="">
        <i class="f12 c999">6~16位英文、数字或特殊字符</i>
      </p>

      <p>再次输入新密码</p>
      <p class="mb20">
        <input data-node="repeatNewPwdInput" class="longInput" type="password" value="">
      </p>
    </div>
    <center class="confirmBtn">
        <a data-node="submitBtn" class="button full" href="javascript:">提交</a>
    </center>
  </div>
</div>
    <div class="mainWrap pageCenter cf">
        <div id="leftNav" class="mainLeft fl" style="visibility: visible;">
            <div class="sideBar" id="main-bar">
              <ul>
                      <li>
                        <a href="/authon/index.html"><span class="home"></span>专区首页</a>
                    </li>
                    <li class="act">
                        <a href="/authon/novels.html"><span class="works"></span>作品管理</a>
                    </li>
                    <li><a href="/authon/takeindex.html"><span class="data-icon"></span>数据统计</a>
                          <!-- start 工具栏提示 -->
                                          </li>
                    <!---->
                    <li>
                        <a href="/authon/income.html"><span class="income"></span>稿酬收入</a>
                    </li>
                      </ul>
            </div>

            <!-- start 小屏下的列表-->
            <div class="sideBar min-bar" id="min-bar">
                <ul>
                    <li>
                    <a class="min-link" href="/index.html"><span class="icon home"></span></a>
                    <a class="expand" href="/index.html">专区首页</a>
                    </li>
                    <li class="act">
                        <a class="min-link" href="/booknovels/novels.html"><span class="icon works"></span></a>
                        <a class="expand" href="/booknovels/novels.html">作品管理</a>
                    </li>

                    <li>
                        <a class="min-link" href="/booknovelsvip/takeindex.html"><span class="icon reserve"></span></a>
                        <a class="expand" href="/booknovelsvip/takeindex.html">数据统计</a>
                    </li>


                    <li>
                        <a class="min-link" href="/income/index.html"><span class="icon income"></span></a>
                        <a class="expand" href="/income/index.html">稿酬收入</a>
                    </li>
                    <li>
                        <a class="min-link" href="/labor.html"><span class="icon labour"></span></a>
                        <a class="expand" href="/labor.html">劳务收入</a>
                    </li>


                    <li>
                        <a class="min-link" href="/authors/authorconsultlist.html"><span class="icon counsel"></span></a>
                        <a class="expand" href="/authors/authorconsultlist.html">作家咨询</a>
                    </li>

                    <li>
                        <a class="min-link" href="/integral_exchange/exchange.html"><span class="icon exchange"></span></a>
                        <a class="expand" href="/integral_exchange/exchange.html">积分兑换</a>
                    </li>
                    <li>
                        <a class="min-link" href="/interactivechapter/index.html"><span class="icon active"></span></a>
                        <a class="expand" href="/interactivechapter/index.html">互动管理</a>
                    </li>

                    <!--微信管理-->
                </ul>
            </div>
            <!-- end 小屏下的列表-->

        </div>

<div class="mainRight pb0 fl">
    <div class="crumbsWrap">
        <b></b>
        <i class="before"><a href="/booknovels/novels.html"><span>作品管理</span></a></i>
        <em class="diff"></em>
        <i class="current"><span>sqlalcemy学习</span></i>
    </div>
    <div class="msgBoxTitle">
        <!--id="createDraftIconBtn"-->
        <!--<span class="minTipBox"><b class="down"></b><cite class="icon close"></cite>点此按钮即可新建章节</span>-->
    <div class="tabSwitch cf">
            <span><a id="modify" href="/authon/bookmodify.html">作品设置</a></span>
            <span ><a id="addtype" href="/authon/addtype.html">添加章节</a></span>
            <span ><a id="allChapter" href="/authon/allChapter.html">所有章节</a></span>
            <span class="act"><a id="recycle" href="/authon/recycle.html">回收站</a></span>
        </div>
    </div>
    <div class="managerWrap cf">
        <div class="mLeftList fl">
            <div id="draftListWrap" class="leftListWrap">
                <div class="titleBox">
                    <p>共1章（超过30天章节自动清除）</p>
                </div>
                <div class="sectionManage">
                    <div class="sectionList" id="sectionList">
                        <!-- 回收站列表 -->
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 740px;"><ul id="draftList" style="overflow: hidden; width: auto; height: 740px;">
                            <li data-chapterid="26522481572262568" data-volumeid="26385090402974545" class="act">
                                    <div class="sectionBox">
                                        <p>
                                            <em>s'da's</em>
                                        </p>
                                        <p class="f12">
                                            <i>
                                                                                                    30天后清除                                            </i>
                                            共1字
                                        </p>
                                    </div>
                                </li>                        </ul><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 10px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 0px; z-index: 99; right: -1px; height: 740px;"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(238, 238, 238); opacity: 1; z-index: 90; right: -1px;"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chapterContainer" class="mRightContent fl">
            <!--查看章节-->
            <div id="viewChapterBox" class="midWrap viewWrap hidden" style="display: block;">
                <div class="sectionViewWrap">
                    <div id="portamento_container" style="min-height: 48px; width: 809px;"><div id="viewChapterBtnBox" class="sectionBtnBox cf" data-slide="1" style="top: 0px;">
                        <div class="titleBtn fr">
                            <a id="deleteChapterBtn" class="button white" href="javascript:">彻底删除</a>
                            <a id="recoverChapterBtn" class="button modify" href="javascript:">恢复</a>
                        </div>
                        <em class="c999">章节类型：</em>
                        <b data-node="chapterTypeName">公众章节</b>
                    </div></div>
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 640px;"><div id="sectionText" class="zwText" style="overflow: hidden; width: auto; height: 640px;">
                        <h3 id="chapterTitle"></h3>
                        <div id="chapterContent"><br></div>
                    </div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 650px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(238, 238, 238); opacity: 1; z-index: 90; right: 1px;"></div></div>
                    <div class="authorSay">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 81px;"><div id="authorSpeak" style="overflow: hidden; width: auto; height: 81px;"></div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 1; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(238, 238, 238); opacity: 1; z-index: 90; right: 1px;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<img id="requestLoadingTip" class="loadImg" style="display: none;" src="https://img1.write.qq.com/writer/p1/contentv2/loading.gif"></div>

    </div>
</div>
<!-- start 官方推荐-->

<!-- end 官方推荐-->

<!-- start 意见反馈-->
<form name="myfrom" id="toucao_myform" method="post" action="https://support.qq.com/product/1924" target="_blank">
    <input type="hidden" name="nickname" value="v1列子御风">
    <input type="hidden" name="avatar" value="https://img1.write.qq.com/writer/p1/contentv2/photo_default.png">
    <input type="hidden" name="openid" value="9829172603514201">
<input type="hidden" name="__hash__" value="e2e8202b96a21790ba859e82a5be8bd2_7c7acbadb77da179e4c766dcc2deee04"></form>




</body>
</html>