<html><head>
    <meta charset="utf-8">
    <title>阅文充值</title>
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../static/css/popup.0.18.css">
    <script src="../../static/js/jQuery.js"></script>



</head>
<body style="zoom: 1;">
<!-- start 顶部公告和优惠信息 -->
<!--<div class="notice-wrap sales">
    <div class="box-center cf">
        <a class="close" href="javascript:"><em class="iconfont">&#xe601;</em></a>
        <div class="text-info fl">
            <p><span class="info"></span><i>微信支付9折优惠</i></p>
        </div>
    </div>
</div>-->
<!-- end 顶部公告和优惠信息 -->

<!-- start 头部 -->
<div class="header">
    <div class="box-center cf">
        <h1 class="logo">
            <a href="/index.html" title=""></a>
        </h1>
        <h3 class="lang"></h3>
        <div class="right-box">
            
        </div>
    </div>
</div>
<!-- end 头部 -->

<!-- start 主体 -->
<div class="box-center">
    <div class="main">
        <!-- start 选择充值方式 -->
        <div class="select-pay-method">
            <!-- start 账号 -->
            <div class="account-wrap">
                <h6>账号</h6>
                <p><img src="//qidian.gtimg.com/yuewen/pay/images/pc/user.0.2.png"><span title="小阅书友15183275929016311">小阅书友15183275929016311</span></p>
            </div>
            <!-- end 账号 -->
        </div>
        <!-- end 选择充值方式 -->

        <!-- start 选择充值方式列表 -->

        <!-- end 选择充值方式列表 -->

        <!-- start 选择充值金额 -->
        <div class="money-list select-list j-normal-list">
            
            
            <!-- start 选择Paypal 10 -->
            
            
            <ul id="money-list-1" class="cf j_detail_panel ">
                <h6>充值金额</h6>
                
                <li class="act" data-amount="10">
                    <p>¥10<span>(1000阅币)</span>
                        
                    </p>
                    <cite></cite>
                </li>
                
                <li class="" data-amount="20">
                    <p>¥20<span>(2000阅币)</span>
                        
                    </p>
                    <cite></cite>
                </li>
                
                <li class="" data-amount="30">
                    <p>¥30<span>(3000阅币)</span>
                        
                    </p>
                    <cite></cite>
                </li>
                
                <li class="" data-amount="50">
                    <p>¥50<span>(5000阅币)</span>
                        
                    </p>
                    <cite></cite>
                </li>
                
                <li class="" data-amount="100">
                    <p>¥100<span>(10000阅币)</span>
                        
                    </p>
                    <cite></cite>
                </li>
                
                <li class="custom" data-amount="">
                    <p>其它金额 ¥<input class="item-box" type="tel" placeholder="输入金额" maxlength="5"><span>(<i class="j_coins">0阅币</i>)</span></p>
                    <cite></cite>
                    <!--<div class="tip">充值金额必须大于或等于1</div>-->
                </li>
                <input class="default-amount-1" type="hidden" value="10">
            </ul>
            
            
            
            <!-- start 选择Paypal 10 -->
            
            

            
        </div>
        <!-- end  选择充值金额 -->
        
        <!--start 其他充值渠道内容区-->
        <div class="j-normal-list">
            
            <!-- start 选择Paypal 10 -->
            
            <!-- end 选择Paypal -->
            
            <!-- start 银联支付 11 -->
            
            <!-- end 银联支付 -->
            
            <!-- start 手机充值卡 填写input的列表（class="pay-input-list" 通用样式）-->
            <!-- 手机充值卡的立即支付按钮 文案是“确认充值” -->
            
            <!-- end 手机充值卡 -->
            
            <!-- start 台湾ATM 没有账号的状态 8 -->
            
            <!-- end 台湾ATM 确认充值 -->

            <!-- start 手机短信充值 -->
            

            
            <!-- start 选择Paypal 10 -->
            
            <!-- end 选择Paypal -->
            
            <!-- start 银联支付 11 -->
            
            <!-- end 银联支付 -->
            
            <!-- start 手机充值卡 填写input的列表（class="pay-input-list" 通用样式）-->
            <!-- 手机充值卡的立即支付按钮 文案是“确认充值” -->
            
            <!-- end 手机充值卡 -->
            
            <!-- start 台湾ATM 没有账号的状态 8 -->
            
            <!-- end 台湾ATM 确认充值 -->

            <!-- start 手机短信充值 -->

            

            

            <!--end 其他充值渠道内容区-->
        </div>
        

        <!-- start 按钮 -->
        <div class="btn-wrap btn-pay pay-btn-area ">
            <label id="pay" class="blue-btn" href="javascript:" data-method="1">立即支付 <span class="j_deal_price">¥10</span></label>
            <div class="checkbox-wrap">
                <span class="lbf-checkbox lbf-checkbox-checked" id="J-agree">
                    <input id="agree" type="checkbox" checked="" style="position: absolute; opacity: 0;">
                <ins class="lbf-checkbox-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></span>
                <label><a href="https://m.readnovel.com/help/protocol/pay" target="_blank">我同意《用户服务协议》</a></label>
            </div>
        </div>
        <!-- end 按钮 -->
    </div>
</div>
<!-- end 主体 -->

<div class="mask"></div>
<!-- start 等待支付弹窗 -->
<!-- end 等待支付弹窗 -->
<!-- start 登录错误提示 -->
<div id="loginAlert" class="common-popup">
    <a class="close iconfont" href="javascript:"></a>
    <div class="popup-content">
        <p class="msg">为了您的充值安全，请返回重试</p>
    </div>
    <div class="popup-btn dib-wrap">
        <a class="blue-btn close" href="javascript:">确认</a>
        <a class="grey-btn close" href="javascript:">关闭</a>
    </div>
</div>
<!-- end 登录错误提示 -->

<!-- start 登录错误提示 -->
<div id="smsMessageAlert" class="common-popup">
    <a class="close iconfont" href="javascript:"></a>
    <div class="popup-content">
       <p id="smsContent" style="padding:20px;"></p>
    </div>
    <div class="popup-btn dib-wrap">
        <a class="blue-btn close" href="javascript:">确认</a>
        <a class="grey-btn close" href="javascript:">关闭</a>
    </div>
</div>
<!-- end 登录错误提示 -->

<!-- start 页脚 -->
<div class="footer">
    <div class="box-center cf">
        <div class="friend-link">
        </div>
        <div class="copy-right">
            <p>Copyright <span>©</span> 2016 All Rights Reserved 阅文集团 版权所有</p>
        </div>
    </div>
</div>
<script src="../../static/js/view_js/user/appid.js"></script>

</body></html>